<div class="form">
	<h1>Add a Card</h1>

	<p>
		** Note - Do not store real credit card information!!!  For Entertainment Only!! **
	</p>

	<%= form_for Card.new do |f| %>
		<%= f.label "Card Number" %><br>
		<%= f.text_field :card_number %><br>
		<%= f.label "Card Type" %><br>
		<%= f.select :card_type, ["Visa","MasterCard","Amex"] %><br>
		<%= f.label "Expiration Month" %><br>
		<%= f.text_field :exp_month %><br>
		<%= f.label "Expiration Year" %><br>
		<%= f.text_field :exp_year %><br>
		<br>
		<%= f.submit :create %>
	<% end %>
</div>